@use "@/styles/tokens" as *;
@use "@/styles/mixins" as m;

.wave {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 0;
  
    /* SVG 作為 mask */
    -webkit-mask-image: url("/images/wave.svg");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    -webkit-mask-position: center;
  
    mask-image: url("/images/wave.svg");
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    mask-position: center;
  }
  
  /* position */
  .top {
    top: 0;
  }
  
  .bottom {
    bottom: 0;
    transform: rotate(180deg);
  }
  
  /* tones = background-color */
  .tone-teal {
    background-color: $sf-teal;
  }
  
  .tone-cream {
    background-color: $cream;
  }
  
  .tone-white {
    background-color: $sf-bg;
  }
  
  .tone-yellow {
    background-color: #ffe8a3;
  }
  
  .tone-orange {
    background-color: $lightOrange;
  }