@use "@/styles/tokens" as *;
@use "@/styles/mixins" as m;

.shell {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;

  .container{
    padding: 0;
  }
}

.main {
  flex: 1;
  padding: 0;
}
