@use "@/styles/_tokens" as *;
@use "@/styles/fonts" as *;

:root {
  --background: $cream;
  --foreground: $black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: $brown;
  background: $cream;
  font-family:
    "Alberta",
    ui-sans-serif,
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    Arial,
    sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
}

main {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $sf-teal;

  &.orange{
    color: $sf-orange;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: $sf-orange;
  text-decoration: none;
}

p{
  &.brown{
    color: $brown;
  }
  &.orange{
    color: $sf-orange;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px $white inset !important;
  -webkit-text-fill-color: $brown !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.pageHeader {
  padding: $point * 10 $point * 15;
  display: flex;
  align-items: center;

  @media (max-width: $bp-sm) {
    padding: $point * 5 $point * 7.5;
  }
}

.pageHeader > div {
  padding: 0;
  margin: 0;
}

.pageHeader h1 {
  font-family: "Lilita One", Arial, sans-serif;
  font-size: 3.2rem;
  color: $sf-yellow;
  font-weight: 500;
  padding: 0;
  margin: 0;

  @media (max-width: $bp-sm) {
    font-size: 2.5rem;
  }

  &.orange{
    color: $sf-orange !important;
  }
}

.pageHeader nav {
  color: $cream !important;
}

.pageHeader a {
  color: $sf-orange !important;
}

.story-bg{
  background-image: url("/images/banner_ourStory.webp") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  height: 60vh;

  .tagline{
    color: $sf-teal;
    margin-bottom: $point * 2;
    font-size: 1.5rem;
    font-weight: 900;
  }
}

h3.note-title{
  font-family: "Lilita One", Arial, sans-serif;
  color: $sf-orange !important;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: $point * 2;
}