@use "./_tokens" as *;
@use "./fonts" as *;

:root {
    --background: $cream;
    --foreground: $black;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }
  
  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }
  
  body {
    color: $brown;
    background: $cream;
    font-family: "Alberta", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    margin: 0;
  }

  main{
    padding: 0;
    margin: 0;
  }

  h1,h2,h3,h4,h5,h6{
    color: $sf-teal;
  }
  
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  a {
    color: $sf-orange;
    text-decoration: none;
    font-weight: 700;
  }
  
  @media (prefers-color-scheme: dark) {
    html {
      color-scheme: dark;
    }
  }

.mainBanner{
    background-image: url("/images/banner_main.jpg");
    background-size: cover;
    background-position: center;
    max-width: none !important;
    height: 36vw;
}

