@use "../../styles/_tokens" as *;

.breadcrumb{
    color: $sf-orange;
    margin-bottom: $point * 2;
}

.breadcrumb ol{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: $point;
}

.breadcrumb a{
    font-size: 1rem;
    color: $brown;
}

.seperator{
    color: $grey;
    margin: $point * 2;
}