@use "../../styles/_tokens" as *;

.stepIndicator{
  margin: 0 auto;
  margin-bottom: 1rem;
}

.stepIndicator section{
  display: flex;
  justify-content: space-between;
  letter-spacing: 1px;
  text-align: center;

  font-size: 1rem;
  line-height: 2;

  margin-bottom: $point * 2;
}

.productImage {
  width: 64px;
  height: 64px;
  border-radius: 1;
  object-fit: cover;
  flex-shrink: 0;
}

.total{
  color: $sf-orange;
  font-weight: 400;
}
