.searchBar{
    display: flex;
    align-items: center;
    gap: 1;
    border-radius: 999;
    border: 1px solid rgba(0,0,0,0.12);
    background-color: rgba(255,255,255,0.9);
    width: 100%;
    max-width: 520;
}