@use "@/styles/tokens" as *;
@use "@/styles/mixins" as m;

.section {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: $point * 10;
    margin: 0 auto;

    @media screen and (min-width: $bp-md){
        padding: $point * 7.5;
    }

    @media screen and (min-width: $bp-xs){
        padding: $point * 5;
    }
}
  
  .inner {
    max-width: $max-width;
    position: relative;
    z-index: 1;
    padding: $point * 15 0;
  }

  .innerNoMarginTop{
    position: relative;
    z-index: 1;
    padding: 0 0 $point * 15 0;
  }
  
  /* background tones */
  .teal {
    background: $sf-teal;
    color: white;
  }
  
  .white {
    background: $sf-bg;
  }
  
  .cream {
    background: $cream;
  }
  
  .yellow {
    background: #ffe8a3;
  }
  
  .orange {
    background: $lightOrange;
  }
  
  .green {
    background: $sf-green;
  }
  