@use "@/styles/tokens" as *;
@use "@/styles/mixins" as m;

.section {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  display: flex;

  @media screen and (min-width: $bp-xs) {
    padding: $point * 5;
  }

  @media screen and (min-width: $bp-md) {
    padding: $point * 7.5;
  }

  @media screen and (min-width: $bp-lg) {
    padding: $point * 10;
  }

  h4{
    color: $sf-orange;
  }

  .center{
    justify-content: center !important;

    .inner, .innerNoMarginTop {
      display: flex;
      justify-content: center !important;
    }
  }
}

.inner {
  max-width: $max-width;
  position: relative;
  z-index: 1;

  margin: 0 auto;
  padding: $point * 15 0;
}

.innerNoMarginTop {
  max-width: $max-width;
  position: relative;
  z-index: 1;
  padding: 0 0 $point * 15 0;
  margin: 0 auto;
}

/* background tones */
.teal {
  background: $sf-teal !important;
  color: white !important;

  div:nth-child(2) {
    color: white !important;
  }
}

.white {
  background: $sf-bg;
}

.cream {
  background: $cream;
}

.yellow {
  background: #ffe8a3;
}

.orange {
  background: $lightOrange;
}

.green {
  background: $sf-green;
}
