/* [project]/apps/web/src/components/HeaderNav/HeaderNav.module.scss.module.css [app-client] (css) */
.HeaderNav-module-scss-module__uL5N3W__nav {
  position: relative;
}

.HeaderNav-module-scss-module__uL5N3W__row {
  align-items: center;
  gap: 36px;
  display: flex;
}

.HeaderNav-module-scss-module__uL5N3W__link, .HeaderNav-module-scss-module__uL5N3W__linkBtn {
  color: #fff5ec;
  letter-spacing: .2px;
  cursor: pointer;
  background: none;
  border: 0;
  padding: 12px 0;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
}

.HeaderNav-module-scss-module__uL5N3W__linkBtn {
  align-items: center;
  gap: 8px;
  display: inline-flex;
}

@media (hover: hover) and (pointer: fine) {
  .HeaderNav-module-scss-module__uL5N3W__link, .HeaderNav-module-scss-module__uL5N3W__linkBtn {
    padding-bottom: 6px;
    display: inline-block;
    position: relative;
  }

  .HeaderNav-module-scss-module__uL5N3W__link:after, .HeaderNav-module-scss-module__uL5N3W__linkBtn:after {
    content: "";
    transform-origin: center;
    background: #063f53;
    width: 100%;
    height: 2px;
    transition: transform .18s;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
  }

  .HeaderNav-module-scss-module__uL5N3W__link:hover:after, .HeaderNav-module-scss-module__uL5N3W__link:focus-visible:after, .HeaderNav-module-scss-module__uL5N3W__linkBtn:hover:after, .HeaderNav-module-scss-module__uL5N3W__linkBtn:focus-visible:after {
    transform: scaleX(1);
  }
}

.HeaderNav-module-scss-module__uL5N3W__active {
  opacity: .95;
}

.HeaderNav-module-scss-module__uL5N3W__chev {
  transition: transform .14s;
}

.HeaderNav-module-scss-module__uL5N3W__chevOpen {
  transform: rotate(180deg);
}

.HeaderNav-module-scss-module__uL5N3W__itemLink {
  color: #6b3e1e;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
  font-size: 1.125rem;
  font-weight: 500;
  text-decoration: none;
  display: flex;
}

.HeaderNav-module-scss-module__uL5N3W__panel {
  color: #6b3e1e;
  grid-template-columns: 1.1fr 1fr .9fr;
  display: grid;
  position: absolute;
  top: calc(100% - 2px);
  left: 0;
}

.HeaderNav-module-scss-module__uL5N3W__panel2 {
  background: #fff5ec;
  border-right: 1px solid #00000014;
  grid-template-columns: 1fr;
  width: 240px;
  padding: 12px;
}

.HeaderNav-module-scss-module__uL5N3W__panel2 .HeaderNav-module-scss-module__uL5N3W__itemLink {
  color: #6b3e1e;
}

.HeaderNav-module-scss-module__uL5N3W__panel3 {
  background: #fff5ec;
  border-right: 1px solid #00000014;
  height: auto;
  padding: 12px;
}

.HeaderNav-module-scss-module__uL5N3W__panel3 .HeaderNav-module-scss-module__uL5N3W__itemLink {
  color: #6b3e1e;
  background: #fff5ec;
}

.HeaderNav-module-scss-module__uL5N3W__colL3 {
  width: 240px;
  position: relative;
}

.HeaderNav-module-scss-module__uL5N3W__rightIcon {
  opacity: .65;
  color: #999 !important;
}

.HeaderNav-module-scss-module__uL5N3W__itemActive .HeaderNav-module-scss-module__uL5N3W__itemLink {
  color: #e16849;
  font-weight: 800;
}

.HeaderNav-module-scss-module__uL5N3W__itemActive .HeaderNav-module-scss-module__uL5N3W__rightIcon {
  color: #999;
  opacity: 1;
  transform: translateX(4px);
}

.HeaderNav-module-scss-module__uL5N3W__subRow {
  background: #fff5ec;
  padding: 12px;
}

.HeaderNav-module-scss-module__uL5N3W__subRow .HeaderNav-module-scss-module__uL5N3W__itemLink {
  color: #6b3e1e;
}

.HeaderNav-module-scss-module__uL5N3W__subItem {
  color: #063f53;
  font-weight: 650;
  text-decoration: none;
  display: block;
}

.HeaderNav-module-scss-module__uL5N3W__subRowActive .HeaderNav-module-scss-module__uL5N3W__subItem {
  color: #e16849;
  font-weight: 800;
}

.HeaderNav-module-scss-module__uL5N3W__subRowActive .HeaderNav-module-scss-module__uL5N3W__itemLink {
  color: #e16849;
}

.HeaderNav-module-scss-module__uL5N3W__emptyHint {
  height: 1px;
}

.HeaderNav-module-scss-module__uL5N3W__iconBtn {
  cursor: pointer;
  background: none;
  border: 0;
  padding: 0;
}

.HeaderNav-module-scss-module__uL5N3W__iconBtn svg {
  width: 24px;
  height: 24px;
}

/*# sourceMappingURL=apps_web_src_components_HeaderNav_HeaderNav_module_scss_module_css_bad6b30c._.single.css.map*/