/* [project]/src/components/MobileMenu/MobileMenu.module.scss.module.css [app-client] (css) */
.MobileMenu-module-scss-module__NHfpVa__paper {
  color: #6b3e1e;
  width: min(86vw, 360px);
  padding: 16px;
  overflow: hidden;
  background-color: #fff5ec !important;
}

.MobileMenu-module-scss-module__NHfpVa__wrap {
  flex-direction: column;
  height: 100%;
  padding: 1px 8px;
  display: flex;
}

.MobileMenu-module-scss-module__NHfpVa__header {
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  display: flex;
}

.MobileMenu-module-scss-module__NHfpVa__logo {
  align-items: center;
  text-decoration: none;
  display: inline-flex;
}

.MobileMenu-module-scss-module__NHfpVa__closeBtn {
  border-radius: 12px;
}

.MobileMenu-module-scss-module__NHfpVa__search {
  background-color: #ffffff80;
  border: 1px solid #00000014;
  border-radius: 14px;
  align-items: center;
  gap: 10px;
  margin-top: 12px;
  padding: 10px 12px;
  display: flex;
}

.MobileMenu-module-scss-module__NHfpVa__searchIcon {
  opacity: .65;
  cursor: pointer;
}

.MobileMenu-module-scss-module__NHfpVa__searchInput {
  color: #e16849;
  background: none;
  border: 0;
  outline: none;
  width: 100%;
  font-size: .75rem;
  border: none !important;
}

.MobileMenu-module-scss-module__NHfpVa__nav {
  flex: 1;
  margin-top: 14px;
  padding-top: 10px;
  overflow: auto;
}

.MobileMenu-module-scss-module__NHfpVa__list {
  padding: 0 !important;
}

.MobileMenu-module-scss-module__NHfpVa__liBtn.MobileMenu-module-scss-module__NHfpVa__liBtn {
  height: 4 8px;
  text-align: left;
  border-radius: 12px;
  margin: 4px 0;
  padding-left: 12px;
  padding-right: 12px;
}

.MobileMenu-module-scss-module__NHfpVa__liBtn.MobileMenu-module-scss-module__NHfpVa__liBtn:after {
  display: none;
}

.MobileMenu-module-scss-module__NHfpVa__liBtn.MobileMenu-module-scss-module__NHfpVa__liBtn .MuiListItemText-primary {
  color: #e16849;
  font-weight: 700;
}

.MobileMenu-module-scss-module__NHfpVa__rightIcon {
  opacity: .6;
}

.MobileMenu-module-scss-module__NHfpVa__divider {
  opacity: .5;
  margin: 10px 0 !important;
}

.MobileMenu-module-scss-module__NHfpVa__sectionTitle {
  opacity: .6;
  margin: 8px;
  font-size: 12px;
}

.MobileMenu-module-scss-module__NHfpVa__subList {
  border-left: 1px solid #0000000f;
  margin-left: 8px;
  padding-left: 10px !important;
}

.MobileMenu-module-scss-module__NHfpVa__subLiBtn {
  height: 42px;
  margin: 3px 0;
  border-radius: 10px !important;
  padding-left: 12px !important;
  padding-right: 10px !important;
}

.MobileMenu-module-scss-module__NHfpVa__subSubList {
  border-left: 1px solid #0000000f;
  margin-left: 8px;
  padding-left: 12px !important;
}

.MobileMenu-module-scss-module__NHfpVa__subSubLiBtn {
  height: 40px;
  margin: 2px 0;
  border-radius: 10px !important;
  padding-left: 12px !important;
  padding-right: 10px !important;
}

.MobileMenu-module-scss-module__NHfpVa__l4List {
  border-left: 1px solid #0000000f;
  margin-left: 8px;
  padding-left: 12px !important;
}

.MobileMenu-module-scss-module__NHfpVa__l4LiBtn {
  height: 38px;
  margin: 2px 0;
  border-radius: 10px !important;
  padding-left: 12px !important;
}

.MobileMenu-module-scss-module__NHfpVa__active {
  font-weight: 600;
  position: relative;
}

.MobileMenu-module-scss-module__NHfpVa__active .MuiListItemText-primary {
  font-weight: inherit;
}

/*# sourceMappingURL=src_components_MobileMenu_MobileMenu_module_scss_module_css_bad6b30c._.single.css.map*/